@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* styles/globals.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Add these styles to your CSS file or in your JSX if using a CSS-in-JS solution */
/* Add these styles to your CSS file or in your JSX if using a CSS-in-JS solution */
.carousel-container {
  max-height: 50rem;
  width: 90%;
  margin-top: 15rem;
  

}

/* Slide styles */
.slick-slide {
  outline: none; /* Remove the default outline on focus */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content horizontally and vertically */
}


button.slick-arrow:nth-child(1){
  z-index: 999;
  margin-top: 20px;
  left:410px;
}
button.slick-arrow:nth-child(3){
  right:410px;
  margin-top: 20px;
}

/* Ensure images take 100% width within the slide */





@font-face {
  font-family: 'Cerlions-Regular';
  src: url('/fonts/Cerlions-Regular.otf') format('opentype');
}

.font-cerlions {
  font-family: 'Cerlions-Regular', sans-serif;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
